<h3>账号绑定</h3>
<form role="form" action="bind" method="post">
    <div class="form-group">
        <label for="stu_name">姓名</label>
        <input type="text" class="form-control" id="stu_name" name="stu_name" placeholder="请输入你的姓名">
    </div>
    <div class="form-group">
        <label for="stu_number">座号</label>
        <input type="text" class="form-control" id="stu_number" name="stu_number" placeholder="请输入你的座号">
    </div>
    <div class="form-group">
        <label for="class">请选择自己的班级</label>
        <select id="class" name="class" class="form-control">
            <option value="1">高一、1班</option>
            <option value="2">高一、2班</option>
            <option value="3">高一、3班</option>
            <option value="4">高一、4班</option>
            <option value="5">高一、5班</option>
            <option value="6">高一、6班</option>
            <option value="7">高一、7班</option>
            <option value="8">高一、8班</option>
            <option value="9">高一、9班</option>
            <option value="10">高一、10班</option>
        </select>
    </div>


    <button type="submit" class="btn btn-default">绑定</button>
</form>